{% extends "dashboard.html" %} {% block content %}
<style>
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 150px;
  }

  th,
  td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }

  th {
    background-color: #800080;
    color: #fff;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .action-link {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #800080;
    border-radius: 5px;
    color: #800080;
    margin: 0 5px;
  }

  .action-link:hover {
    background-color: #5a005a;
    color: #fff;
  }

  .create-button {
    display: block;
    margin-top: 20px;
    text-decoration: none;
  }

  .company-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #800080;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }

  .company-button:hover {
    background-color: #5a005a; /* Darker shade on hover */
  }
</style>

<h2>List of Companies</h2>

<table>
  <thead>
    <tr>
      <th>S.No.</th>
      <th>Company Name</th>
      <th>Actions</th>
      <!-- Add a new header column for the action buttons -->
    </tr>
  </thead>
  <tbody>
    {% for company in companies %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ company.company_name }}</td>
      <td>
        <a href="{% url 'company_edit' company.company_id%}" class ='company-button'>Edit</a>
        <a href="{% url 'company_delete' company.company_id %}" class ='company-button'>Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'company_enlist' %}" class="btn btn-primary company-button"
  >Add Company</a
>

{% endblock %}
