{% extends "dashboard.html" %}

{% block content %}
<style>
    /* Custom CSS styles for the form */
    .form-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .form-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .form-label {
        font-weight: bold;
    }

    .form-field {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .form-submit-button {
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        margin-top: 10px;
    }

    .back-link {
        display: block;
        margin-top: 10px;
        text-decoration: none;
        color: #007BFF;
    }
</style>

<h2 class="form-title">Edit Company</h2>

<div class="form-container">
  <form method="post">
    {% csrf_token %}
    <label class="form-label" for="{{ form.company_name.id_for_label }}">Company Name:</label>
    {{ form.company_name }}
    <button type="submit" class="form-submit-button">Save Changes</button>
  </form>
</div>

<a class="back-link" href="{% url 'company_list' %}">Back to Company List</a>

{% endblock %}
