{% extends 'base.html' %}
{% block main_content %}
<style>

    
    .main-container {
        position: relative;
        width: 100%; /* Full width */
        height: 100vh; /* Full viewport height */
        display: flex; /* Use flex layout for container */
    }
    .left-panel {
        position: absolute;
        top: 0; /* Positioned at the top */
        left: 0; /* Positioned at the left */
        width: 10%;
        height: 100vh;
        /* border-left: 2px solid; */
        border-right: 2px solid rgba(221, 221, 221, 0.32);
        background-color: #ffffff00;
        padding: 20px; /*Add some padding for better layout*/
        /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); Add a shadow to the panel */
    }
    .panel-link {
        text-decoration: none;
        color: black;
        display: block;
        padding: 10px;
        font-size: 16px;
    }
    .panel-link:hover {
        background-color: #ddd; /* Add a grey highlight on hover */
    }
    .right-content {
        margin-left: 12%; /* Leave space for the left panel */
        padding: 0px; /*Add some padding for better layout */
    }
</style>
<div class="main-container">
    <div class="left-panel">
        {% if user.is_authenticated %}
            <a class="panel-link" href="{% url 'userinfo' %}">User Info</a>
            {% if user.role == "STUDENT" %}
            <a class="panel-link" href = "{% url 'shortlists' %}">Shortlists</a>
            {% endif %}
            {% if user.role != "STUDENT" %}
            <a class="panel-link" href="{% url 'duties' %}">Duties</a>
            <a class="panel-link" href = "{% url 'process_list' %}">Process</a>
            <a class="panel-link" href = "{% url 'company_list' %}">Company</a>
            <a class="panel-link" href = "{% url 'duty_list' %}">Duty List</a>
            <a class="panel-link" href = "{% url 'shortlist_list' %}">Shortlist List</a>
            {% endif %}
        {% endif %}
    </div>
    <div class="right-content">
        {% block content %}
        <!-- Your content here -->
        {% endblock %}
    </div>
</div>
</style>
{% endblock %}
