{% extends 'base.html' %}
{% block main_content %}
<style>
    .main-container {
        position: relative;
        width: 100%; /* Full width */
        height: 100vh; /* Full viewport height */
    }
    .left-panel {
        position: absolute;
        top: 0; /* Positioned at the top */
        left: 0; /* Positioned at the left */
        width: 20%;
        background-color: #f8f8f8;
    width: 20%; /* Set the width of the panel */
    background-color: #f8f8f8; /* Set the background color of the panel */
    float: left; /* Float the panel to the left */
}

/* Style for the links in the left panel */
.panel-link {
    text-decoration: none; /* Remove the underline */
    color: black; /* Set the link color to black */
    display: block; /* Display as block to take full width */
    padding: 10px; /* Add some padding for better clickability */
    font-size: 16px; /* Set the font size */
}
.right-content {
    margin-left: 20%; /* Leave space for the left panel */
    padding: 20px; /* Add some padding for better layout */
}
</style>
<div class="main-container">
<div class="left-panel">
    {% if user.is_authenticated %}
        <a class="panel-link" href="{% url 'userinfo' %}">User Info</a>
        {% if user.role == "TPR" or user.role == "TPV" %}
        <a class="panel-link" href="{% url 'duties' %}">Duties</a>
        {% endif %}
        {% if user.role == "Student" %}
        <a class="panel-link" href="{% url 'priority_order' %}">Priority Order</a>
        {% endif %}
    {% endif %}
</div>

<div class="right-content">
    {% block content %} 
    {% endblock %}
</div>
</div>
{% endblock %}