{% extends "dashboard.html" %}

{% block content %}
<style>
    .form-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .form-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .form-label {
        font-weight: bold;
    }

    .form-field {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .form-submit-button {
        background-color: #FF4D4D;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        margin-top: 10px;
        cursor: pointer;
    }

    .back-link {
        display: block;
        margin-top: 10px;
        text-decoration: none;
        color: #007BFF;
    }
</style>

<div class="form-container">
    <h2 class="form-title">Delete Process</h2>

    <form method="post">
        {% csrf_token %}
        <label class="form-label" for="{{ form.company_id.id_for_label }}">Are you sure you want to delete this process?</label>
        {{ form.company_id }}
        <br>
        <button type="submit" class="form-submit-button">Confirm</button>
    </form>
</div>

<a class="back-link" href="{% url 'process_list' %}">Back to Process List</a>
{% endblock %}
